<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="main.css" />
    <title>Signup</title>
</head>
<body>
    <div class="main-container">
        <div class="left">
            <div class="logo-container">
                <img class="logo" alt="PlanIt" src="img/plan-it.png">
            </div>
            <div class=form-container>
                <h1>Create Your Account</h1>
                <div class="login-form">
                    <input type="text" placeholder="Email">
                    <input type="text" placeholder="Name">
                    <input type="password" placeholder="Password">
                    <input type="text" placeholder="Confirm Password">
                    <input type="texty" placeholder="Contact Number">
                    <input type="text" placeholder="Company">
                    <input type="text" placeholder="Department">
                    <select name="role" id="role" placeholder="Role">
                        <option value="" disabled selected>Select your role</option>
                        <option value="employee">Employee</option>
                        <option value="manager">Manager</option>
                      </select>
                    <input type="text" placeholder="Manager Credential (Manager Only)">
                    <button class="attach-pic-btn">Attach Profile Picture</button>
                </div>
                <button class="signup-btn">Sign Up</button>
            </div>
        </div>
        <div class="right">
            <h1 class="subtitle">Already have an account?</h1>
            <div class="text">Login and start your project now!</div>
            <button class="login-btn">Log in</button>
        </div>
    </div>  
</body>
</html>